@page "/home"

<PageTitle>BacktestStudio</PageTitle>

@* 這個頁面不再使用，主頁面現在是 Dashboard.razor *@
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>BacktestStudio</h1>
            <p>正在重導向到儀表板...</p>
            <a href="/" class="btn btn-primary">前往儀表板</a>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        // 可以在這裡加入自動重導向邏輯
    }
}